{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <h1 class="text-center display-4 mb-5">Where would you like to go?</h1>
        <form class="my-3" action="{% url 'hotel_results' %}" method="get">
          <div class="form-group">
            <div class="input-group">
              <input id=search type="text" name="q" class="form-control" placeholder="City name..." required>
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary px-4">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
        BindControls();
    });

    var cities = [];

    $.getJSON("api/?format=json", function (json) {
      console.log(json)

    $.each(json, function(key, val) {
        var city = val.name;
        cities.push(city);
        console.log(city);
        console.log(cities);
      });
    });

    function BindControls() {
      $("#search").autocomplete({
        source: function(request, response) {
          var matches = $.map(cities, function(cities){
            if (cities.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
              return cities;
            }
          });
          response(matches);
        },
        minLength: 0,
        scroll: true
      }).focus(function() {
        $(this).autocomplete("search", "");
      });
    };
  </script>
{% endblock content %}
